@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="i-"]::before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
}

.i-arrow::before { content: "\EA01"; }
.i-close::before { content: "\EA02"; }
.i-double-arrow::before { content: "\EA03"; }
.i-download::before { content: "\EA04"; }
.i-facebook::before { content: "\EA05"; }
.i-inst::before { content: "\EA06"; }
.i-more::before { content: "\EA07"; }
.i-search::before { content: "\EA08"; }
.i-vk::before { content: "\EA09"; }
.i-youtube::before { content: "\EA0A"; }