
<div class="navbar-toggle"></div>
<div class="mobile__overlay"></div>
<div class="mobile">
  <div class="mobile-container">
    <nav class="mobile-menu">
      <div class="mobile-menu__block"><a class="mobile-menu__title" href="about.html">О нас</a>
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="fund-structure.html">Структура фонда</a></li>
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="documents.html">Документы</a></li>
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="history.html">История</a></li>
        </ul>
      </div>
      <div class="mobile-menu__block"><a class="mobile-menu__title" href="press-center.html">Пресс-центр</a>
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="news.html">Новости</a></li>
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="activity.html">Мероприятия</a></li>
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="events.html">События</a></li>
        </ul>
      </div>
      <div class="mobile-menu__block"><a class="mobile-menu__title" href="club.html">Клуб предпринимателей</a>
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="join-club.html">Как вступить</a></li>
          <li class="mobile-menu__item"><a class="mobile-menu__link" href="atributika.html">Атрибутика</a></li>
        </ul>
      </div>
      <div class="mobile-menu__block"><a class="mobile-menu__title" href="feedback.html">Обратная связь</a></div>
      <div class="mobile-menu__block"><a class="mobile-menu__title" href="contacts.html">Контакты</a></div>
    </nav>
    <div class="mobile__bottom">
      <p><a class="phone-link" href="tel:+74956243436">+7(495) 624-34-36</a></p><br>
<br>
      <p>г.Москва, Россия,<br>ул.Маршала Рыбалко, 2,<br>корпус 6, помещение 912</p><br>
<br>
      <p><a class="email-link" href="mailto:denis.sibaev@raz.ru">denis.sibaev@raz.ru</a></p>
      <div class="socials"><a class="social i-youtube" href="#"></a><a class="social i-facebook" href="#"></a><a class="social i-vk" href="#"></a></div>
    </div>
  </div>
</div>