@charset "utf-8";
/* CSS Document */

body {
  padding:0px;
   margin:0px;
    font-size: 13px;
    font-family: "Calibri";
}
A IMG {
    border: none; /* Убираем рамку */
   }
img {border: none;
vertical-align:middle; /* Убираем рамку */}
#ramka {
 border:8px solid #f2f2f2;
 margin-right: 10px;
 margin-top: 5px;
 margin-bottom: 5px;
}
textarea {
     min-width: 386px;
	 height: 200px;
}

#ano, #ano a:hover, #ano a  {
	 font: 12px  Georgia, "Times New Roman", Times, serif;
	color:#000000;
	 text-decoration:none;
}
.photo {

}

#menu {padding:5px; background-color:#f5f5f5;
	       background-color:rgba(245, 245, 245, 0.6);
	       display:none; position:absolute; top:0px; left:0px; overflow:hidden;
	       border:solid 1px #929292; border-radius:3px; -moz-border-radius:3px;
	       -webit-border-radius:3px; box-shadow: 5px 5px 5px #888;
	       -moz-box-shadow: 1px 1px 3px #555; -webkit-box-shadow: 5px 5px 5px #888;}
#menu:hover {background-color:rgba(245, 245, 245, 1);}
#menu a { padding:3px 5px; border:solid 1px transparent; color:#000; text-decoration:none; font-size:14px;
            float:left; display:block; text-align:center;}
#menu a:hover { border:solid 1px #bea881; background-color:#fff2cb;
            background: -moz-linear-gradient(top, rgba(255, 251, 239, 1), rgba(255, 220, 87, 1));
            border-radius:3px; -moz-border-radius:3px; -webit-border-radius:3px; }

.editHover{
	background-color: #CCC;
	max-width: 400px;
}

.editBox{
	max-width: 400px;
	min-height: 20px;
	padding: 10px 10px;
	background-color: #fff;
	border: 2px solid #CCC;
}

.block > ul{
	list-style: none;
	/*max-width: 400px;*/
}

.block > ul > li.editable{
	max-width: 400px;
	min-height: 20px;
	padding: 10px 15px;
	cursor:pointer;
	border: 2px solid #CCC;
	min-width: 300px;
}

li.noPad{
	padding: 0;
	max-width: 400px;
}

form{
	width: 100%;
}

.btnSave, .btnCancel{
	padding: 6px 30px 6px 75px;
}
label
{
	font-size:14px;
}
.block{
	float: center;
	margin: 20px 0;
	width:500px;
}
a{
	color: #000;
}

a:hover{
	color: #;
}

p{
	/*margin: 30px 0 10px 0;*/
}

a:hover{
	text-decoration: none;
}
.people {
	max-width: 350px; border:2px solid #f2f2f2; padding-right: 10px;padding-left: 10px;
 padding-bottom: 5px;
	text-align:justify;

}
#sortable { list-style-type: none; margin: 0; padding: 0; width: 500px; }
	#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em;}
	html>body #sortable li {  line-height: 1.2em; }
	.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.preview
{

	max-width:200px;
	max-height:200px;
	/*background:url(picture/nofoto.jpg) no-repeat center center;*/

}

.browntext
{
	color:brown;
}
.redbg
{
	background:#ff7b7b;
}
.greentext > span > a
{
	color: green !important;
}
.orangebg
{
	background: #ffbf4a;
}
.orangetext > span > a
{
	color:#d6a345 !important;
}
.greenbg
{
	background:#B8E8AF;
}

.yellowbg
{
	background:#ffffb3;
}
.yellowtext > span > a
{
	color: #bfbf32 !important;
}
.violettext > span > a
{
	color:#9D4EB7 !important;
}
.opisanie
{
	font-size:16px !important;
}
.documents .ui-state-default a
{
	text-decoration:underline !important;
}
.documents .ui-state-default a:hover
{
	text-decoration:none !important;
}
.myfoto li
{
	/*height:240px;*/ width:320px;
	margin-bottom: 15px !important;
}
.myfoto li a.gallery img
{
	max-height:210px; max-width:310px;
}
#dndloader
{
	cursor: pointer;
}
.editable
{
	white-space: pre-line !important;
}
json, .accesstype li > ul
{
	display: none;
}
.accesstype
{
	text-align: left;
}
.accesstype li
{
	line-height: 1.5;
}

.accesstype > li
{
	list-style: initial;
	padding-bottom: 20px;
}
.accesstype li > .to_show_icon
{
	width:14px;
	height:14px;
	background: url(/admin/picture/up.png) no-repeat center center;
	display: inline-block;
	background-size: cover;
	vertical-align: middle;
}
.accesstype li.active > .to_show_icon
{
	background: url(/admin/picture/down.png) no-repeat center center;
	background-size: cover;
	top: -3px;
    position: relative;
}
.accesstype  li.active > ul {display: block;}
.access_close {display: none;}
.filter_blocks h3
{
	margin-top: 0px;
}
.filter_blocks div
{
	border: 1px gray solid; margin-bottom: 20px;
}
.filter_blocks input[type="checkbox"]
{
	vertical-align: middle;
}
.property_item label
{
	font-weight: bolder;
}
.property_item input
{
	width: 250px;
}
.property_item span.not_created
{	
	color: #d91212;
}
.property_item span.from_filter
{
	color: #1268d9;
}
.property_item .tek_loader, .property_item .hidden,
.property_item.not_exist .delete_property,
.property_item.exist .save_property,
.property_item.exist .not_created,
.from_filter
{
	display: none;
}
.property_item.exist.ischange .save_property,
.property_item.take_from_filter .from_filter
{
	display: inline-block;
}
.tox-tinymce
{
	min-height: 400px;
}