button {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  padding: 0
}
button:active,
button:focus {
  box-shadow: none;
  outline: 0
}
.btn-form {
  display: block;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  width: 267px;
  height: 56px;
  font-family: 'Gotham Pro';
  font-size: 14px;
  font-weight: 700;
  color: #f3f3f3;
  text-align: center;
  background: url(/img/buttons/btn-form.png);
  padding: 0;
  margin: 0 auto 20px auto;
  cursor: pointer
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 40px;
  width: 164px;
  font-family: 'DIN Pro';
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  color: #fff;
  background-image: url(/img/buttons/button.png);
  background-position: -3px -1px;
  background-repeat: no-repeat;
  border-radius: 3px;
  text-decoration: none;
  padding: 0 25px 0 22px;
  transition: background-image .3s
}
.button::after {
  content: '\EA03';
  display: inline-block;
  font-family: iconfont;
  font-size: 8px;
  line-height: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 20px;
  transition: transform .3s
}
.button:hover {
  background-image: url(/img/buttons/button-hover.png)
}
.button:hover::after {
  transform: translateX(10px)
}
.button._long {
  width: 172px;
  height: 32px;
  background-image: url(/img/buttons/btn-contacts.png);
  background-position: center center;
  padding: 0 18px 0 21px
}
.button._long::after {
  margin-left: 15px
}
.naviblock {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center
}
@media screen and (min-width:1025px) {
  .naviblock {
    right: 30px
  }
}
.button-next,
.button-prev {
  width: 49px;
  height: 49px;
  color: #fff;
  background-image: url(/img/buttons/slider-btn.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding-left: 2px;
  transition: background-image .3s;
  outline: 0
}
.button-next::before,
.button-prev::before {
  position: relative;
  font-size: 11px;
  line-height: 49px;
  z-index: 1
}
.button-next._sm,
.button-prev._sm {
  width: 33px;
  height: 33px
}
.button-next._sm::before,
.button-prev._sm::before {
  font-size: 9px;
  line-height: 33px
}
.button-next:hover,
.button-prev:hover {
  color: #77604b;
  background-image: url(/img/buttons/slider-btn-hover.png)
}
.button-prev {
  padding-left: 0;
  padding-right: 2px
}
.button-prev::before {
  transform: rotate(180deg)
}
span.breadcrumbs__link {
  flex-shrink: 1;
  color: #999071
}
.search {
  display: block;
  flex-shrink: 0;
  width: 49px;
  height: 49px;
  background: url(/img/search.png) center center/14px 14px no-repeat,url(/img/buttons/search-bg.png)
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('GothamPro-Medium'),url(/fonts/GothamPro-Medium.woff2) format('woff2'),url(/fonts/GothamPro-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: 'Gotham Pro';
  src: local('GothamPro-BoldItalic'),url(/fonts/GothamPro-BoldItalic.woff2) format('woff2'),url(/fonts/GothamPro-BoldItalic.woff) format('woff');
  font-weight: 700;
  font-style: italic
}
@font-face {
  font-family: Calibri;
  src: local('Calibri Bold Italic'),local('Calibri-BoldItalic'),url(/fonts/Calibri-BoldItalic.woff2) format('woff2'),url(/fonts/Calibri-BoldItalic.woff) format('woff');
  font-weight: 700;
  font-style: italic
}
@font-face {
  font-family: 'Gotham Pro';
  src: local('GothamPro-Italic'),url(/fonts/GothamPro-Italic.woff2) format('woff2'),url(/fonts/GothamPro-Italic.woff) format('woff');
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: Calibri;
  src: local('Calibri Light'),local('Calibri-Light'),url(/fonts/Calibri-Light.woff2) format('woff2'),url(/fonts/Calibri-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Calibri;
  src: local('Calibri Bold'),local('Calibri-Bold'),url(/fonts/Calibri-Bold.woff2) format('woff2'),url(/fonts/Calibri-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Calibri;
  src: local('Calibri Light Italic'),local('Calibri-LightItalic'),url(/fonts/Calibri-LightItalic.woff2) format('woff2'),url(/fonts/Calibri-LightItalic.woff) format('woff');
  font-weight: 300;
  font-style: italic
}
@font-face {
  font-family: 'Gotham Pro';
  src: local('GothamPro-BlackItalic'),url(/fonts/GothamPro-BlackItalic.woff2) format('woff2'),url(/fonts/GothamPro-BlackItalic.woff) format('woff');
  font-weight: 900;
  font-style: italic
}
@font-face {
  font-family: Calibri;
  src: local('Calibri'),url(/fonts/Calibri.woff2) format('woff2'),url(/fonts/Calibri.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Medium'),local('DINPro-Medium'),url(/fonts/DINPro-Medium.woff2) format('woff2'),url(/fonts/DINPro-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: 'DIN Pro';
  src: local('DIN Pro Medium Italic'),local('DINPro-MediumItalic'),url(/fonts/DINPro-MediumItalic.woff2) format('woff2'),url(/fonts/DINPro-MediumItalic.woff) format('woff');
  font-weight: 500;
  font-style: italic
}
@font-face {
  font-family: 'Gotham Pro';
  src: local('GothamPro-Bold'),url(/fonts/GothamPro-Bold.woff2) format('woff2'),url(/fonts/GothamPro-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: 'Gotham Pro';
  src: local('GothamPro-LightItalic'),url(/fonts/GothamPro-LightItalic.woff2) format('woff2'),url(/fonts/GothamPro-LightItalic.woff) format('woff');
  font-weight: 300;
  font-style: italic
}
@font-face {
  font-family: 'Gotham Pro';
  src: local('GothamPro'),url(/fonts/GothamPro.woff2) format('woff2'),url(/fonts/GothamPro.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'Gotham Pro';
  src: local('GothamPro-Black'),url(/fonts/GothamPro-Black.woff2) format('woff2'),url(/fonts/GothamPro-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal
}
@font-face {
  font-family: 'Gotham Pro';
  src: local('GothamPro-MediumItalic'),url(/fonts/GothamPro-MediumItalic.woff2) format('woff2'),url(/fonts/GothamPro-MediumItalic.woff) format('woff');
  font-weight: 500;
  font-style: italic
}
@font-face {
  font-family: 'Gotham Pro';
  src: local('GothamPro-Light'),url(/fonts/GothamPro-Light.woff2) format('woff2'),url(/fonts/GothamPro-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Calibri;
  src: local('Calibri Italic'),local('Calibri-Italic'),url(/fonts/Calibri-Italic.woff2) format('woff2'),url(/fonts/Calibri-Italic.woff) format('woff');
  font-weight: 400;
  font-style: italic
}

.h1,
h1,
h2 {
  font-family: 'Gotham Pro';
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  color: #393939
}
@media screen and (max-width:600px) {
  .h1,
  h1,
  h2 {
    font-size: 24px;
    line-height: 28px
  }
}
.h3,
h3 {
  font-family: 'Gotham Pro';
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #393939
}
@media screen and (max-width:600px) {
  .h3,
  h3 {
    font-size: 20px;
    line-height: 24px
  }
}
.h4,
h4 {
  font-family: 'Gotham Pro';
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #393939
}
@media screen and (max-width:600px) {
  .h4,
  h4 {
    font-size: 18px;
    line-height: 20px
  }
}
.h5,
h5 {
  font-family: 'Gotham Pro';
  font-size: 18px;
  line-height: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #393939
}
@media screen and (max-width:600px) {
  .h5,
  h5 {
    font-size: 16px
  }
}
.classic-text ul:last-child,
blockquote:last-child,
ul.classic-list:last-child {
  margin-bottom: 0
}
.classic-text ul:first-child,
blockquote:first-child,
ul.classic-list:first-child {
  margin-top: 0
}
.h1,
h1,
h2 {
  margin-bottom: 35px
}
.h1 + p.text,
h1 + p.text,
h2 + p.text {
  margin-top: -25px;
  margin-bottom: 35px
}
@media screen and (max-width:600px) {
  .h1,
  h1,
  h2 {
    margin-bottom: 25px
  }
  .h1 + p.text,
  h1 + p.text,
  h2 + p.text {
    margin-top: -15px;
    margin-bottom: 25px
  }
}
.h1.special,
h1.special,
h2.special {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px
}
@media screen and (max-width:600px) {
  .h1.special,
  h1.special,
  h2.special {
    flex-direction: column;
    align-items: flex-start
  }
  .h1.special .button,
  .h1.special .tabs__labels,
  h1.special .button,
  h1.special .tabs__labels,
  h2.special .button,
  h2.special .tabs__labels {
    margin-top: 15px
  }
}
p + p {
  margin-top: 20px
}
p.line {
  position: relative;
  max-width: 850px;
  padding-left: 65px
}
@media screen and (min-width:601px) {
  p.line {
    margin-bottom: 35px;
    padding-left: 75px
  }
}
p.line::before {
  content: url(/img/line-md.png);
  position: absolute;
  top: -3px;
  left: 0
}
p.img {
  text-align: center
}
@media screen and (min-width:1201px) {
  p.img {
    margin-top: 80px
  }
}
p.text {
  font-family: 'Gotham Pro';
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #a57248;
  margin-bottom: 10px
}
@media screen and (max-width:600px) {
  p.text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px
  }
}
a {
  color: #999071;
  transition: all .3s
}
a:hover {
  text-decoration: none
}
b,
strong {
  font-weight: 700
}
em,
i {
  font-style: italic
}
blockquote {
  position: relative;
  margin: 55px 0
}
@media screen and (max-width:600px) {
  blockquote {
    margin: 40px 0
  }
}
blockquote p:nth-child(1) {
  font-family: 'Gotham Pro';
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #393939;
  padding-left: 20px
}
@media screen and (max-width:600px) {
  blockquote p:nth-child(1) {
    font-size: 18px;
    line-height: 26px;
    padding-left: 0
  }
}
blockquote p:nth-child(2) {
  position: relative;
  font-family: Calibri;
  font-size: 16px;
  line-height: 18px;
  color: #a57248;
  padding-left: 60px
}
blockquote p:nth-child(2)::before {
  content: url(/img/line-sm.png);
  position: absolute;
  top: -2px;
  left: 20px
}
@media screen and (max-width:600px) {
  blockquote p:nth-child(2) {
    padding-left: 40px
  }
  blockquote p:nth-child(2)::before {
    left: 0
  }
}
.classic-text ul,
ul.classic-list {
  margin: 40px 0
}
@media screen and (max-width:600px) {
  .classic-text ul,
  ul.classic-list {
    margin: 30px 0
  }
}
.classic-text ul li,
ul.classic-list li {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  padding-left: 40px
}
.classic-text ul li + li,
ul.classic-list li + li {
  margin-top: 20px
}
.classic-text ul li::before,
ul.classic-list li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 22px;
  background: url(/img/list.png) center center/cover no-repeat
}
.table::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  height: 4px
}
.table::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: red
}
.table {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  display: block
}
.table table {
  width: 100%
}
.phone-link {
  display: inline-block;
  font-family: 'Gotham Pro';
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  text-decoration: none
}
.email-link {
  display: inline-block;
  font-family: 'Gotham Pro';
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #bea45b
}
.date {
  display: block;
  font-family: Calibri;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #a5816b;
  margin-bottom: 5px;
  transition: color .3s
}
.date span {
  color: #393939
}
.rubric {
  font-family: Calibri;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px
}
.rubric span {
  color: #a57248
}
.go-back {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Gotham Pro';
  font-size: 16px;
  font-weight: 500;
  color: #a57248;
  text-decoration: none;
  margin-bottom: 30px
}
.go-back .i-arrow {
  margin-right: 15px
}
@media screen and (max-width:600px) {
  .go-back {
    margin-bottom: 20px
  }
}
.fz-24 {
  font-size: 24px;
  font-weight: 700
}
@media screen and (max-width:600px) {
  .fz-24 {
    font-size: 20px
  }
}
.cl-white {
  color: #fff!important
}
.cl-brown {
  color: #a57248!important
}
.ta-l {
  text-align: left
}
.ta-c {
  text-align: center
}
.ta-r {
  text-align: right
}
.ta-j {
  text-align: justify
}
.mt-auto {
  margin-top: auto!important
}
.mr-auto {
  margin-right: auto!important
}
.mb-auto {
  margin-bottom: auto!important
}
.ml-auto {
  margin-left: auto!important
}
.my-auto {
  margin-top: auto!important;
  margin-bottom: auto!important
}
.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important
}
.m0x {
  margin: 0!important
}
.mx0x {
  margin-right: 0!important;
  margin-left: 0!important
}
.my0x {
  margin-top: 0!important;
  margin-bottom: 0!important
}
.mt0x {
  margin-top: 0!important
}
.mr0x {
  margin-right: 0!important
}
.mb0x {
  margin-bottom: 0!important
}
.ml0x {
  margin-left: 0!important
}
.m1x {
  margin: 5px!important
}
.mx1x {
  margin-right: 5px!important;
  margin-left: 5px!important
}
.my1x {
  margin-top: 5px!important;
  margin-bottom: 5px!important
}
.mt1x {
  margin-top: 5px!important
}
.mr1x {
  margin-right: 5px!important
}
.mb1x {
  margin-bottom: 5px!important
}
.ml1x {
  margin-left: 5px!important
}
.m2x {
  margin: 10px!important
}
.mx2x {
  margin-right: 10px!important;
  margin-left: 10px!important
}
.my2x {
  margin-top: 10px!important;
  margin-bottom: 10px!important
}
.mt2x {
  margin-top: 10px!important
}
.mr2x {
  margin-right: 10px!important
}
.mb2x {
  margin-bottom: 10px!important
}
.ml2x {
  margin-left: 10px!important
}
.m3x {
  margin: 15px!important
}
.mx3x {
  margin-right: 15px!important;
  margin-left: 15px!important
}
.my3x {
  margin-top: 15px!important;
  margin-bottom: 15px!important
}
.mt3x {
  margin-top: 15px!important
}
.mr3x {
  margin-right: 15px!important
}
.mb3x {
  margin-bottom: 15px!important
}
.ml3x {
  margin-left: 15px!important
}
.m4x {
  margin: 20px!important
}
.mx4x {
  margin-right: 20px!important;
  margin-left: 20px!important
}
.my4x {
  margin-top: 20px!important;
  margin-bottom: 20px!important
}
.mt4x {
  margin-top: 20px!important
}
.mr4x {
  margin-right: 20px!important
}
.mb4x {
  margin-bottom: 20px!important
}
.ml4x {
  margin-left: 20px!important
}
.m5x {
  margin: 25px!important
}
.mx5x {
  margin-right: 25px!important;
  margin-left: 25px!important
}
.my5x {
  margin-top: 25px!important;
  margin-bottom: 25px!important
}
.mt5x {
  margin-top: 25px!important
}
.mr5x {
  margin-right: 25px!important
}
.mb5x {
  margin-bottom: 25px!important
}
.ml5x {
  margin-left: 25px!important
}
.m6x {
  margin: 30px!important
}
.mx6x {
  margin-right: 30px!important;
  margin-left: 30px!important
}
.my6x {
  margin-top: 30px!important;
  margin-bottom: 30px!important
}
.mt6x {
  margin-top: 30px!important
}
.mr6x {
  margin-right: 30px!important
}
.mb6x {
  margin-bottom: 30px!important
}
.ml6x {
  margin-left: 30px!important
}
.m7x {
  margin: 35px!important
}
.mx7x {
  margin-right: 35px!important;
  margin-left: 35px!important
}
.my7x {
  margin-top: 35px!important;
  margin-bottom: 35px!important
}
.mt7x {
  margin-top: 35px!important
}
.mr7x {
  margin-right: 35px!important
}
.mb7x {
  margin-bottom: 35px!important
}
.ml7x {
  margin-left: 35px!important
}
.m8x {
  margin: 40px!important
}
.mx8x {
  margin-right: 40px!important;
  margin-left: 40px!important
}
.my8x {
  margin-top: 40px!important;
  margin-bottom: 40px!important
}
.mt8x {
  margin-top: 40px!important
}
.mr8x {
  margin-right: 40px!important
}
.mb8x {
  margin-bottom: 40px!important
}
.ml8x {
  margin-left: 40px!important
}
.m9x {
  margin: 45px!important
}
.mx9x {
  margin-right: 45px!important;
  margin-left: 45px!important
}
.my9x {
  margin-top: 45px!important;
  margin-bottom: 45px!important
}
.mt9x {
  margin-top: 45px!important
}
.mr9x {
  margin-right: 45px!important
}
.mb9x {
  margin-bottom: 45px!important
}
.ml9x {
  margin-left: 45px!important
}
.m10x {
  margin: 50px!important
}
.mx10x {
  margin-right: 50px!important;
  margin-left: 50px!important
}
.my10x {
  margin-top: 50px!important;
  margin-bottom: 50px!important
}
.mt10x {
  margin-top: 50px!important
}
.mr10x {
  margin-right: 50px!important
}
.mb10x {
  margin-bottom: 50px!important
}
.ml10x {
  margin-left: 50px!important
}
.m11x {
  margin: 55px!important
}
.mx11x {
  margin-right: 55px!important;
  margin-left: 55px!important
}
.my11x {
  margin-top: 55px!important;
  margin-bottom: 55px!important
}
.mt11x {
  margin-top: 55px!important
}
.mr11x {
  margin-right: 55px!important
}
.mb11x {
  margin-bottom: 55px!important
}
.ml11x {
  margin-left: 55px!important
}
.m12x {
  margin: 60px!important
}
.mx12x {
  margin-right: 60px!important;
  margin-left: 60px!important
}
.my12x {
  margin-top: 60px!important;
  margin-bottom: 60px!important
}
.mt12x {
  margin-top: 60px!important
}
.mr12x {
  margin-right: 60px!important
}
.mb12x {
  margin-bottom: 60px!important
}
.ml12x {
  margin-left: 60px!important
}

body {
  background: #f2f2f2;
  overflow-x: hidden;
  font-family: Calibri;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  font-style: normal;
  position: relative
}

